[project]
	description = RDO Project Website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ekuris-redhat
[access "refs/for/refs/*"]
	read = group user/ekuris-redhat
	push = group user/ekuris-redhat
	label-Code-Review = -2..+2 group user/ekuris-redhat
	label-Verified = -1..+1 group user/ekuris-redhat
	rebase = group user/ekuris-redhat
	removeReviewer = group user/ekuris-redhat
	submit = group user/ekuris-redhat
[access "refs/heads/*"]
	read = group user/ekuris-redhat
	create = group user/ekuris-redhat
	push = +force group user/ekuris-redhat
	pushMerge = group user/ekuris-redhat
[access "refs/tags/*"]
	push = +force group user/ekuris-redhat
	pushTag = group user/ekuris-redhat
	pushSignedTag = group user/ekuris-redhat
